<!DOCTYPE html>
<html>
    <head>
       <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <%- include ('partials/nav.ejs') %>
        <h1>This is my first Node-served page</h1>
        <p>WHy don't you try our my company. We will give you the best experience.</p>
    </body>
</html>